@import "styles/globalVars.scss";

.classification {
  width: 100%;

  ul {
    width: 100%;
    display: flex;

    justify-content: space-between;
    gap: 0 30px;
    overflow-x: scroll;
    scrollbar-width: none; // for firefox
    -ms-overflow-style: none; //for IE & Edge

    &::-webkit-scrollbar {
      display: none; // for Chrome Safari
    }

    li {
      flex-shrink: 0;
      font-size: 1.25rem;
      text-align: center;
    }
  }
}

@media screen and (min-width:$rwd-s) {
  .classification {
    ul {
      justify-content: space-around;
    }
  }
}